.image-detail {
  width: 80%;
  margin: 0 auto;
}

.detail-container {
  display: flex;
  padding: 2%;
}

.detail-card {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.detail-child {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 1rem;
  padding: 0.5rem 1.5rem;
  justify-content: center;
}

.detail-card > p:nth-child(even) {
  background-color: rgb(212, 212, 212);
}

/* .detail-card {
    margin: 0;
    height: 3rem;
    padding: 0 1.5rem;
  } */
